# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
- master
- release

pool:
  vmImage: 'windows-latest'

resources:
  repositories:
  - repository: buildTools
    type: git
    name: Optra2.0/buildTools    

parameters:
- name: pushNugetOrg
  displayName: Push to nuget.org
  type: boolean
  default: false
  
- name: isOfficial
  displayName: Official build
  type: boolean
  default: false
  
- name: buildVersion
  displayName: Official build
  type: string
  default: '2.2.0'

stages:
- template: pipeline_nuget.yml@buildTools
  parameters:
   projectName: 'TwoLineElements'
   pushNugetOrg: ${{ parameters.pushNugetOrg }}
   isOfficial: ${{ parameters.isOfficial }}
   buildVersion: ${{ parameters.buildVersion }}
   vstsFeed: 'Nasa/Nasa_feed'