# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
- master
- release

pool:
  vmImage: 'windows-latest'

parameters:
- name: push_nuget
  displayName: Push to nuget.org
  type: boolean
  default: false
  
variables:
- group: nuget_org
- name: solution
  value: '**/*.sln'
- name: buildPlatform
  value: 'Any CPU'
- name: buildConfiguration
  value: 'Release'
- name: tests
  value: '**/*Tests.csproj'
- name: vstsFeed
  value 'Nasa/Nasa_feed'
- name: major
  value: 2
- name: minor
  value: 1

stages:
- template: ./buildTools/pipeline_nuget.yml
  parameters:
   push_nuget: ${{ parameters.push_nuget }}