# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
- master
- release

pool:
  vmImage: 'windows-latest'

resources:
  repositories:
  - repository: buildTools
    type: git
    name: Optra2.0/buildTools    

parameters:
- name: push_nuget
  displayName: Push to nuget.org
  type: boolean
  default: false
  
variables:
- group: nuget_org
- name: major
  value: 2
- name: minor
  value: 1
- name: build
  value: 2

stages:
- template: pipeline_nuget.yml@buildTools
  parameters:
   projectName: 'TwoLineElements'
   push_nuget: ${{ parameters.push_nuget }}
   vstsFeed: 'Nasa/Nasa_feed'