name: "Build and test"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  SOLUTION_PATH: 'src/TwoLineElements.sln'    

jobs:
  build:
    name: 'build'  
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout'
      uses: actions/checkout@v2

    - name: 'Install dotnet'
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0'

    - name: 'Install dependencies'
      run: dotnet restore ${{ env.SOLUTION_PATH }}

    - name: 'Build solution'
      run: dotnet build ${{ env.SOLUTION_PATH }} --configuration Release --no-restore

    - name: 'Test solution'
      run: dotnet test ${{ env.SOLUTION_PATH }} --no-restore --no-build --verbosity normal
